.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}



body.light-mode {
  --prompt-bg-color: rgb(255 243 205);
}
body {
  --prompt-bg-color: rgb(255 243 205);
}

body.dark-mode {
  --prompt-bg-color: rgb(90 69 3 / 88%);
}


.prompt {
  background-color: var(--prompt-bg-color);
  color: var(--body-color);
  border-width: 0pt !important;
}


